FIAP/FASE 2/Machine Learning Avançado/Aula 6 - Classification Report e Métricas de Classificaçào/Notebooks/Validando o case Análise de fraude em cartão de crédito com classification report e matriz de confusão.ipynb
